div ul{
	list-style-type:disc;/*設定ul li 的符號*/
	margin:0;/*外距*/
	padding:15px ;/*內距*/
	overflow:hidden;/*超過預設範圍時，設為隱藏*/
	background-color:#ADADFF;/*背景顏色*/
}
div ol{
	list-style-type:decimal;/*設定ol li 的符號*/
	margin:0;/*外距*/
	padding:15px;/*內距*/
	overflow:hidden;/*超過預設範圍時，設為隱藏*/
	background-color:#FF6EFF;/*背景顏色*/
}

	

